h1{
	font-size: 30px !important;	
	text-shadow: 0px 0px 10px black !important;
	color: white !important;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h2{
	margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
body{
	background-color: white !important;
}