html, body.b{
    background-color: #708090 !important;
    background-image: none !important;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
h1{
	font-size: 36px !important;	
  top: 50%;
}
h2{
    font-size: 26px !important;
    padding-top: 30px;
}
#text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#text h1, h2{
    font-weight: bold !important;
}